body{
	margin:0;
	background-color:#9cb5b1;
	}
#menu_div{
	margin-top:10px;
	margin-left:25px;
	color:#38528d;
	font-size:20px;
	width:300px;
	}

li{
	list-style-type:none;
	font-size:17px;
	}
a.menu_left:link,a.menu_left:visited{
	text-decoration:none;
	color:#e1edf9;
	}
a.menu_left:hover{
	color:#38528d;
}