body{
	margin:0;
	background-color:#eaeaea;
}
#updatePass_div{
	margin-top:50px;
	margin-left:100px;
	padding:20px;
	border:2px solid #38528d;
	border-radius:5px;
	width:600px;  
	height:400px;  
}
#updatePasswordForm{
	margin-top:35px;
	margin-left:50px;	
}
.info_item{
	margin:5px;
	font-size:18px;
	font-family:"仿宋";
	color:#607FB5;
}

.reminder_text_in{
	margin-left:5px;
	margin-bottom:10px;
	font-family:"仿宋";
	color:#607fba;
	font-size:25px;
}
.info_input{
	margin:15px 2px 15px 10px;
	border-radius:3px;
	border:0;
	width:250px;
	line-height:30px;
	background-color:#FBFBFB;
}
#submit_input,#reset_input{
	margin-top:25px;
	width:50px;
	padding:1px;
	background-color:#0078d7;
	cursor:pointer;
	border:2px solid #607FB5;
	border-radius:10px;
	height:30px;
	font-size:18px;
	font-family:"宋体";
	color:#F2F2FD;
}
#submit_input{
	margin-left:110px;
	margin-right:50px;
}

input[type="text"],input[type="password"]{
	padding-left:5px;
	font-family:'仿宋';
	font-size:15px;
}
#return{	
	margin-left:300px;
	margin-bottom:10px;
	font-family:'仿宋';
	font-size:18px;
}
#return:link{
	text-decoration:none;
}
#return{
	color:#0078d7;
}
#return:hover{
	color:#38528d;
}
.errorInfo{
margin-left:5px;
font-family:"仿宋";
font-size:14px;
color:#ff510b;
}